/*
	Variables
*/
$font-family1: "Raleway", "Helvetica Neue", "Helvetica", Arial, Verdana,
  sans-serif;
$primary-color: #000000;
$grey: #656565;
$grey2: #cbcbcb;
$lighter-grey: #f1f1f1;
$light-grey: #898989;
$dark-grey: #333333;
$orange: #ff9d1d;
$orange-hover: #f56b08;
